<template>
  <div>
    <div>
      <button @click="clickCount('+')">+</button>
      <span>{{ count }}</span>
      <button @click="clickCount('-')">-</button>
    </div>
    <div>
      <input type="text" v-model="content" @keydown="e=>{
        if (e.keyCode == 13){
          addTodo(content)
        }
      }">
      <p>所有任务列表</p>
      <ul>
        <li v-for="item in todos" :key="item.id">
          <input type="checkbox" name="" :checked="item.finish" @change="e=>changeTodo(item.id, e.target.checked)"> 
          <span>{{item.item}}</span>
          <button @click="deleteTodo(item.id)">删除</button> 
        </li>
      </ul>
       <p>已完成任务列表</p>
      <ul>
        <li v-for="item in finishTodos" :key="item.id">
          <input type="checkbox" name="" :checked="item.finish">
          <span>{{item.item}}</span>
          <button @click="deleteTodo(item.id)">删除</button> 
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { ref, reactive, onMounted, computed, watch } from "vue";

export default {
  name: "VueDemo",
  props: {
    msg: String,
  },
  setup(props, context) {

    /**
     * 定义响应数据
     * ref定义普通数据类型
     * react定义引用数据类型
     * */
    let count = ref(0);
    function clickCount(type) {
      console.log("type...", type);
      count.value = type === "+" ? count.value + 1 : count.value - 1;
    }


    // 挂载时请求数据
    onMounted(()=>{
      console.log("挂载组件时执行");
    })
    
    // todo逻辑
    let content = ref('');
    let todos = reactive([]);
    function addTodo(item) {
      console.log('argument...', arguments);
      todos.push({
        id: +new Date(),
        item,
        finish: false,
      });
      // 重制todo
      content = '';
    }
    function deleteTodo(id) {
      let index = todos.findIndex((item) => item.id === id);
      todos.splice(index, 1);
    }
    function changeTodo(id, checked){
      let index = todos.findIndex((item) => item.id === id);
      todos[index].finish = checked;
    }

    // computed
    const finishTodos =computed(()=>{
      return todos.filter(item=>item.finish);
    })

    // watch
    watch(todos, ()=>{
      console.log('当前todo任务项...', todos.length)
    })
    
    return {
      content,
      count,
      todos,
      finishTodos,
      clickCount,
      addTodo,
      deleteTodo,
      changeTodo
    };
  },
};
</script>
