<script>
	import {mapActions} from 'vuex';
	export default {
		methods: {
			...mapActions({
				userLogin: 'user/userLogin',
			})
		},
		onLaunch: function() {
			// 在这里做登陆
			wx.login({
				success: (res)=>{
					console.log('res.code...', res.code);
					if (res.code){
						this.userLogin(res.code);
					}else{
						wx.showToast('获取code失败');
					}
				}
			})
			// 判断一周内是否做过生物检测
			wx.removeStorageSync('auth');
			let auth = wx.getStorageSync('auth');
			console.log('auth...', auth);
			if (auth){
				if (!auth.authTime || (+new Date()) - auth.authTime > 7*24*60*60*1000){
					wx.navigateTo({url: '/pages/user/auth'});
				}
			}else{
				wx.navigateTo({url: '/pages/user/auth'});
			}
		}
	}
</script>

<style>
	/*每个页面公共css */
</style>
