.main{
    min-height: calc(100% - 64px);/*no*/
    background: var(--bg-body);
}

:global{
    .container {
        margin-right: auto;
        margin-left: auto;
        background: var(--bg);
    }
    @media (max-width: 768px) {
        .container {
            width: 100%;
            padding-right: 15px;/*no*/
            padding-left: 15px;/*no*/
        }
    }
    @media (min-width: 768px) {
        .container{
            width: 768px;/*no*/
        }
    }
    @media (min-width: 992px) {
        .container{
            width: 970px;/*no*/
        }
    }
    @media (min-width: 1200px) {
        .container{
            width: 1140px;/*no*/
        }
    }
}
