<template>
  <div>
    <p @click="routePlan">{{ info.detail.address.title }}</p>
    <p>{{ info.detail.address.address }}</p>
    <p @click="call(info.detail.address.tel)">{{ info.detail.address.tel }}</p>
    <button @click="goSign">打卡</button>
  </div>
</template>

<script>
import { computed, onMounted, reactive } from "@vue/composition-api";
const plugin = requirePlugin("routePlan");

export default {
  setup(props, { root }) {
    const { $store, $mp } = root;
    let info = reactive({
      detail: {},
    });
    console.log("arguments...", arguments, $mp);

    onMounted(() => {
      let detail = $store.state.sign.signList.filter(
        (item) => item.id == $mp.query.id
      )[0];
      info.detail = { ...detail, address: JSON.parse(detail.address) };
      wx.setNavigationBarTitle({title: info.detail.address.title});
    });

    function routePlan() {
      let key = "ZVUBZ-J46CU-7IPVI-2N6M4-2EIRV-V7FCM"; //使用在腾讯位置服务申请的key
      let referer = "一面而就"; //调用插件的app的名称
      let endPoint = JSON.stringify({
        //终点
        name: info.detail.address.title,
        latitude: info.detail.latitude,
        longitude: info.detail.longitude,
      });
      wx.navigateTo({
        url: "plugin://routePlan/index?key=" + key + "&referer=" + referer + "&endPoint=" + endPoint,
      });
    }

    function call(phoneNumber){
        wx.makePhoneCall({
            phoneNumber 
        })
    }

    function goSign(){
        wx.navigateTo({url: '/pages/sign/sign?id='+$mp.query.id})
    }   
    
    return {
      info,
      routePlan,
      call,
      goSign
    };
  },
};
</script>

<style>
</style>