<template>
    <div>
        <picker mode="region" :value="region" @change="regionChange">
            <span>{{region[1] || '北京'}}</span>
        </picker>
        <input type="text" placeholder="请输入您的地址" v-model="address">
        <ul>
            <li v-for="item in suggestion" :key="item.id">
                <p>{{item.title}}</p>
                <p>{{item.address}}</p>
            </li>
        </ul>
    </div>
</template>

<script>
import {reactive, toRefs, ref, watch} from '@vue/composition-api';
import QQMapWX from '@/utils/qqmap-wx-jssdk.js';
import {throttle} from '@/utils//index.js';

const key = 'ZVUBZ-J46CU-7IPVI-2N6M4-2EIRV-V7FCM';
export default {
    setup(props, {root}){
        let address = ref('');
        const info = reactive({
            region: [],
            suggestion: []
        });
        function regionChange(e){
            info.region = e.target.value;

            console.log('arguments...', arguments, info);
        }
        // 实例化腾讯地图sdk
        const qqmapsdk = new QQMapWX({
            key // 必填
        });
        function getSuggestion(val){
            //调用关键词提示接口
            qqmapsdk.getSuggestion({
                //获取输入框值并设置keyword参数
                keyword: val, //用户输入的关键词，可设置固定值,如keyword:'KFC'
                region: info.region[1] || '北京', //设置城市名，限制关键词所示的地域范围，非必填参数
                success: function(res) {//搜索成功后的回调
                    console.log(res);
                   info.suggestion = res.data;
                }
            })
        }
        // 使用节流包裹获取地址提示
        const wrapGetSuggestion = throttle(getSuggestion);
        // 监听输入框的改变
        watch(address, (val)=>{
            console.log('val...', val);
            wrapGetSuggestion(val);
        })
        return {
            address,
            ...toRefs(info),
            regionChange
        }
    }
}
</script>

<style lang="scss" scoped>
picker{
    height: 60rpx;
}
</style>