<template>
    <div>
        <map 
            show-location
            :markers="markers"
            :circles="circles"
            :includePoints="includePoints"
        ></map>
        <button :class="{disable: distance>300}" @click="sign">打卡</button>
    </div>
</template>

<script>
import { computed, onMounted, reactive, ref, watch } from "@vue/composition-api";
import getDistance from '@/utils/distance';

export default {
    setup(props, {root}){
        const {$store, $mp} = root;
        const location = reactive({
            longitude: 0,
            latitude: 0,
        })
        let distance = ref(0);
        // 定位
        wx.getLocation({
            type: 'gcj02',
            success: res=>{
                location.longitude = res.longitude;
                location.latitude = res.latitude;
            }
        })
        onMounted(()=>{
            let id = $mp.query.id;
            $store.dispatch('sign/getSignDetail', id);
        });
        // 面试详情信息
        const detail = computed(()=>$store.state.sign.signDetail);
        // 标记点
        const markers = computed(()=>{
            console.log('detail...', detail);
            if (detail.value){
                return [{
                    longitude: detail.value.longitude,
                    latitude: detail.value.latitude,
                    iconPath: 'https://www.showdoc.com.cn/favicon.ico',
                    width: 20,
                    height: 20
                }]
            }else{
                return []
            }
        })
        // 打卡范围
        const circles = computed(()=>{
            if (Object.keys(detail.value).length && Object.keys(location).length) {
                distance.value = getDistance(location.latitude, location.longitude, detail.value.latitude, detail.value.longitude).toFixed(2);
                return [{
                    longitude: detail.value.longitude,
                    latitude: detail.value.latitude,
                    radius: 300,
                    fillColor: distance.value>300?'#C0C0C080': '#00800080'
                }]
            }else{
                return []
            }
        });
        // 地图要包含的所有点
        const includePoints = computed(()=>{
            if (Object.keys(location).length && markers.value.length){
                return [location, ...markers.value]
            }else{
                return []
            }
        })

        // 打卡功能
        function sign(){
            if (distance.value > 300){
                wx.showToast({
                    icon: 'none',
                    title: `你距离打卡点还有${distance.value}米`
                })
            }else{
                // todo 打卡
            }
        }
        return {
            detail,
            distance,
            location,
            circles,
            markers,
            includePoints,
            sign
        }
    }
}
</script>

<style lang="scss" scoped>
map{
    width: 100vw;
    height: calc(100vh - 80rpx);
}
button{
    height: 80rpx;
    background-color: #008000;
    border-radius: 0;
}
button.disable{
    background-color:#c0c0c0;
}
</style>