<template>
    <div>
        <picker mode="selector" :range="info.city" range-key="label" :value="info.current" @change="changeCity">
            {{info.city[info.current].label}}
        </picker>
        <map :markers="markers" :include-points="markers" @markertap="markerTap"></map>
    </div>
</template>

<script>
import {onMounted, reactive, watch, computed} from '@vue/composition-api'
import {getCityList, getHourse} from "@/services"
export default {
    setup(){
        const info = reactive({
            city: [],
            current: 0,
            currentCityId: '',
            hourseList: []
        })
        onMounted(async ()=>{
            let res = await getCityList()
            if (res.status === 200){
                info.city = res.body;
                info.currentCityId = info.city[info.current].value;
            }
        })

        watch(()=>info.currentCityId, async ()=>{
            // 请求房源数据
            let res = await getHourse(info.currentCityId);
            if (res.status === 200 && res.body.length){
                info.hourseList = res.body;
            }
        })  

        const markers = computed(()=>{
            return info.hourseList.map((item, index)=>{
                return {
                    id: index,
                    label: {
                        content: `${item.label}有${item.count}套房`,
                        color: '#fff',
                        bgColor: '#000',
                        textAlign: 'center'
                    },
                    latitude: item.coord.latitude,
                    longitude: item.coord.longitude,

                }
            })
        })

        function changeCity(e){
            info.current = e.detail.value;;
            info.currentCityId = info.city[info.current].value;
        }

        function markerTap(e){
            console.log('e...', e);
            let index = e.detail.markerId;
            let id = info.hourseList[index].value;
            if (id){
                info.currentCityId = id;
            }
        }

        return {
            info,
            markers,
            markerTap,
            changeCity
        }
    }
}
</script>

<style scoped>
picker{
    height:70rpx;
    line-height: 70rpx;
}
map{
    width: 100vw;
    height: calc(100vh - 70rpx);
}
</style>