<template>
    <div>
        <open-data type="userNickName"></open-data>
        <open-data type="userAvatarUrl"></open-data>
        <open-data type="userGender"></open-data>
        <open-data type="userCity"></open-data>
        <open-data type="userCountry"></open-data>
        <button @click="goPay">支付</button>
        <button open-type="contact">客服</button>
        <button open-type="openSetting">授权设置</button>
        <button open-type="feedback">意见反馈</button>
        <button open-type="getPhoneNumber" @getphonenumber="getPhoneNumber">获取手机号</button>
    </div>
</template>

<script>
import {decrypt} from '@/services';

export default {
    setup(props){
        function goPay(){
            wx.navigateTo({url: '/pages/pay/index'})
        }   

        async function getPhoneNumber(e){
            console.log('e...', e);
            let {iv, encryptedData} = e.detail;
            let result = await decrypt({iv, encryptedData});
            console.log('result...', result);
        }

        return {
            goPay,
            getPhoneNumber
        }
    }
}
</script>

<style>

</style>